services:
  mongo:
    image: mongo:6.0
    container_name: estocar_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "mongosh --eval \"db.adminCommand('ping')\" --quiet"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  mongodata:
    driver: local